{% extends '/base/topic-view.jinja2' %}

{% block title %}{{ photo_album.name + ": " + photo.image.filename }}{% endblock %}
{% block description %}{{ photo.caption if photo.caption|count > 0 else
photo.image.filename}}{% endblock %}
{% block where_am_i %}
<li><a href="{{ url_for('photos.photo_albums.index') }}">Photo Albums</a></li>
<li><a href="{{ url_for('photos.photo_albums.view',
photo_album_id=photo_album.id) }}">${photo_album.name}</a></li>
{% endblock %}
{% block topic_title %}{{ photo_album.name }}{% endblock %}

{% block content %}
<ul class="pager">
    <li class="previous{{' disabled' if pprevious == None else ''}}">
        {% if not pprevious == None %}
    <a href="{{ url_for('photos.photo_albums.photo_view',
    photo_album_id=photo_album.id, photo_id=pprevious.id) }}">&larr; Previous</a>
    {% else %}
  	<a href="#">&larr; Previous</a>
    {% endif %}
  </li>
  <li class="next{{' disabled' if pnext == None else ''}}">
      {% if not pnext == None %}
    <a href="{{ url_for('photos.photo_albums.photo_view',
    photo_album_id=photo_album.id, photo_id=pnext.id) }}">Next &rarr;</a>
    {% else %}
  	<a href="#">Next &rarr;</a>
    {% endif %}
  </li>
</ul>
<div class="row">
	<div class="col-sm-8 col-md-8 col-lg-9">
        <img class="img-rounded" alt="{{ photo.caption }}" src="{{
        url_for('photos.view', photo_album_id=photo_album.id,
        photo_id=photo.image.filename)}}" width="100%" />
	</div>
	<div class="col-sm-4 col-md-4 col-lg-3">
		<div class="well well-sm">
			<div>
				<div class="pull-left" style="margin-right: 3px;">
                    {{ photo.user.get_profile_picture() if
                    not photo.user.get_profile_picture() == None else '' }}
				</div>
				<div>
                    {{ photo.user.get_display_name() }}<br />
                    {{ photo.created_date.strftime('%d %b %Y %X') }}
				</div>
			</div>
            <p><b>License:</b> {{ photo.license }}</p>
            {% if photo.caption %}
            <p>{{ photo.caption }}</p>
            {% endif %}
			
			% if request.user == photo.user:
				<a class="btn btn-primary" href="${request.route_path('manager.photo_albums.delete_photo', photo_album_id=photo_album.id, photo_id=photo.id)}">Delete</a>
			% endif
			
		</div>
	</div>
</div>
{% endblock %}

{% block topic_footer %}
    {% set topic = photo %}
    {% include '/base/comments.jinja2' with context %}
{% endblock %}
