<div class="container">
	<div class="card-panel grey lighten-4">                          
        <h1 style="font-style: italic;"><a href="{{ url_for('site.index') }}">Hello, pumbaa.CoE!</a></h1>
	</div>
</div>
