{% extends "/base/main.jinja2" %}
{% block keywords %}CoE, PSU, Computer Engineering, Prince of Songkla
University, Community{% endblock %}
{% block description %}This site is for people in CoE{% endblock %}

{% block body %}
  <div class="container">
	{% block content %}{% endblock content %}
  </div> 
{% endblock body %}
