{% extends "/base/base-layout.jinja2" %}
{% block keywords %}CoE, PSU, Computer Engineering, Prince of Songkla
University, Community{% endblock %}
{% block description %}This site is for people in CoE{% endblock %}

{% block jsmodule %}
System.import('css-framework').then(() => {
	System.import('dashboard'); 
});
{% endblock %}

{% block additional_head %}
<style>
  header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
</style>
{% endblock %}

{% block header %}
  {% include "/base/toolbar-dashboard.jinja2" %}
{% endblock header%}

{% block main %}
    <div class="row">
      <div class="col s12">
        <nav>
          <div class="nav-wrapper grey lighten-1">
            <div class="col s12">
              <a href="{{ url_for('dashboard.index') }}" class="breadcrumb">Dashboard</a>
              {% block breadcrumbs %}{% endblock breadcrumbs %}
            </div>
          </div>
        </nav> 
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  {% endblock main %}

  {% block footer %}
    {% include "/base/footer.jinja2" %}
  {% endblock %}
