
{% macro navlink() -%}
  {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('accounts.dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('accounts.logout') }}">Logout</a></li>
  {% else %}
    <li><a href="{{ url_for('accounts.login') }}">Login</a></li>
  {% endif %}
{% endmacro %}


  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('site.index') }}" class="brand-logo">Pumbaa</a>
      <ul class="right hide-on-med-and-down">
          {{ navlink() }}
      </ul>

      <ul id="nav-mobile" class="side-nav">
          {{ navlink() }}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

