{% extends "/base/default-page.jinja2" %}
{% block title %}List contents by tag: {{tag}}{% endblock %}

{% block breadcrumb %}
<a href="{{ url_for('forums.tags.index') }}" class="breadcrumb">Tags</a>
<a href="{{ url_for('forums.tags.list_contents', name=tag) }}" class="breadcrumb">{{ tag }}</a>
{% endblock %}

{% block topic_title %}Tag: {{ tag }}{% endblock %}

{% block content %}
		<ul class="collection">
      {% for topic in topics %}
		    <li class="collection-item">
          <a href="{{ url_for('forums.topics.view', title=topic.title, topic_id=topic.id) }}">{{ topic.title }}</a>
		    </li>
      {% endfor %}
    </ul>
{% endblock %}
