{% extends "/base/default-page.jinja2" %}
{% import '/forums/topics/listview-small.jinja2' as listview_small with context %}


{% block keywords %}{{ forums | join(', ', attribute='name') }}{% endblock %}
{% block description %}{{ forums | join(', ', attribute='name') }}{% endblock %}

{% block title %}Forum{% endblock %}

{% block topic_title %}Forums{% endblock %}

{% block content %}
  {% for forum in forums %}
	<div class="panel panel-info">
  		<div class="panel-heading">
    		<h3>
          <a href="{{ url_for('forums.view', name=forum.name) }}">{{ forum.name }}</a>
          <a href="{{ url_for('forums.feeds.feed', forum_name=forum.name) }}"><img alt="Atom feed" src="/static/images/feed-icon.svg" width=15px/></a>
    		</h3>
      </div>
      {{ listview_small.render_topic_list(topics=forum.get_topics(10)) }}
	</div>
  {% endfor %}

{% endblock %}
