{% extends "/base/default-page.jinja2" %}
{% import '/forums/topics/listview-small.jinja2' as listview_small with context %}



{% block keywords %}{{ ", ".join(forum.tags) }}{% endblock %}
{% block description %}{{ forum.description[:200] }}{% endblock %}
{% block title %}{{ forum.name }}{% endblock %}

{% block breadcrumb %}
  <a href="{{ url_for('forums.view', name=forum.name) }}" class="breadcrumb">{{ forum.name }}</a>
{% endblock %}

{% block topic_title %}
    {{forum.name}}
    <a href="{{ url_for('forums.feeds.feed', forum_name=forum.name) }}">
		<img alt="Atom feed" src="/static/images/feed-icon.svg" width=15px/>
	</a>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-content">
    <p>{{ forum.description }}</p>
    <p><b>process tags</b>: {{ ', '.join(forum.tags) }}</p>
    </div>
</div>

{{ listview_small.render_topic_list(topics=topics) }}

{% include '/base/pagination.jinja2' with context %}
{% endblock %}
